body{
    font-family: Arial, 'Helvetic Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

h2{
    font-weight: normal;
}

header, aside, footer, nav, section{
    background: #ebebeb;
}

article{
    color: #ebebeb;
    background: #777;
    width: 476px;
    padding-top: 2px;
    padding-bottom: 20px;
    margin: auto;
}

.hArea, .pArea{
    color: #777;
    background: #ebebeb;
    width: 446px;
    margin: 10px auto;
    padding: 10px 0;
}

.hArea h2, .pArea h2{
    padding: 0;
    margin: 0;
}

.clearfix{
    clear: both;
}

section{
    float: left;
    width: 496px;
    padding: 10px 0 20px 0;
}

section h2{
    padding-bottom: 20px;
}

article h2{
    padding: 10px 0;
    margin: 0;
}

aside{
    float: right;
    width: 444px;
    padding: 10px 0 244px 0;
}

header, nav, footer{
    padding: 5px 0;
    margin: 10px 0;
}